*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS';
    color: white;
}

#container{
    min-height: 80vh;
    width: 100%;
    background-image: url('img/Header.png');
    display: flex;
    align-items: center;
}

#center{
    display: block;
    max-width: 900px;
    margin: 0 auto;
}
#left{
    text-align: center;
    font-size: 80px;
}

#left h5{
    font-size: 20px;
}

#right{
    text-align: center;
    font-size: 80px;
}

#footer{
    min-height: 20vh;
    width: 100%;
    background-color: rgb(31, 31, 37);
}





.cbutton{
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0); 
}

.cbutton a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cbutton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    cursor: pointer;
    padding: 20px 43px;
}

.cbutton:hover a{
    color: rgb(54, 54, 54);
}

#footerContainer *{
    font-family: 'Catamaran', sans-serif;
    color: rgb(176, 174, 182);
    padding-bottom: 10px;
}
#footerContainer{
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
}